[Unit]
Description=Crypto.com Chain Sentry Node
ConditionPathExists=/opt/cro-sentry/bin/chain-maind
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=/opt/cro-sentry/bin/
ExecStart=/opt/cro-sentry/bin/chain-maind start --home /opt/cro-sentry/.chain-maind --log_level warn
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
InaccessibleDirectories=/home /var
ReadOnlyDirectories=/etc /usr
PrivateTmp=yes
SyslogIdentifier=CRO-SENTRY


[Install]
WantedBy=multi-user.target
