[Unit]
Description=Create virtual network bridges for VMs

[Service]
Type=oneshot
ExecStart=/sbin/ip link add name vnet-ext type bridge
ExecStart=/sbin/ip link add name vnet-int type bridge
ExecStart=/sbin/ip link add name vnet-vms type bridge
ExecStart=/sbin/ip link set vnet-ext up
ExecStart=/sbin/ip link set vnet-int up
ExecStart=/sbin/ip link set vnet-vms up

[Install]
WantedBy=multi-user.target
