[Unit]
Description=Lighthouse Beacon Node
After=network.target

[Service]
Type=simple
User=beacon
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
ExecStart=/opt/beacon-lh/bin/lighthouse beacon --network mainnet --datadir /opt/beacon-lh/data \
                                               --checkpoint-sync-url=https://mainnet.checkpoint.sigp.io/ \
                                               --execution-endpoints http://127.0.0.1:8551 --execution-jwt /opt/goethereum/jwtsecret \
                                               --staking --eth1-blocks-per-log-query 500 --disable-upnp --validator-monitor-auto
                                               ##--metrics --metrics-address 127.0.0.1 --metrics-port 6061
InaccessibleDirectories=/home 
ReadOnlyDirectories=/etc /usr /var
DevicePolicy=closed
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictNamespaces=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
#Drop all capabilites!!
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
