[Unit]
Description=Lighthouse Beacon Node
After=network.target

[Service]
Type=simple
User=beacon
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
ExecStart=/opt/beacon/bin/lighthouse beacon --network mainnet --datadir /opt/beacon/data --execution-endpoints http://127.0.0.1:8551 --execution-jwt /opt/goethereum/jwtsecret --staking --eth1-blocks-per-log-query 150 --disable-upnp --validator-monitor-auto --metrics --metrics-address 127.0.0.1 --metrics-port 6061
InaccessibleDirectories=/home /var
ReadOnlyDirectories=/etc /usr
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
