[Unit]
Description=Prysm Beacon Chain
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=beacon
LimitNOFILE=5120
LimitNPROC=5120
ExecStart=/opt/prysm-bc/bin/prysm-bc --mainnet --p2p-max-peers 60 --datadir=/opt/prysm-bc/data --execution-endpoint=http://localhost:8551 \
			--checkpoint-sync-url=https://beaconstate.info --jwt-secret=/opt/goethereum/jwtsecret --accept-terms-of-use --log-format=journald
InaccessibleDirectories=/home /var
ReadOnlyDirectories=/etc /usr
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
