[Unit]
Description=Besu ETH client
After=network.target 
Wants=network.target

[Service]
User=besu 
Group=besu
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
#WorkingDirectory=/opt/besu
Environment="TMP=/opt/besu/tmp"
Environment="TEMP=/opt/besu/tmp"
Environment="TMPDIR=/opt/besu/tmp"
Environment="JAVA_OPTS=-Djava.io.tmpdir=/opt/besu/tmp -Dio.netty.native.workdir=/opt/besu/tmp"
ExecStart=/opt/besu/bin/besu --data-storage-format=BONSAI --data-path="/opt/besu/data" --rpc-http-enabled=true --rpc-http-host="127.0.0.1" --p2p-enabled=true --Xmerge-support=true --metrics-enabled=true --metrics-host=0.0.0.0 --network=SEPOLIA

InaccessibleDirectories=/home /var /root
ReadOnlyDirectories=/etc /usr
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
