[Unit]
Description=Ethereum go client
After=network.target 
Wants=network.target

[Service]
User=geth 
Group=geth
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
#ExecStart=/opt/goethereum/bin/geth --cache=512 --maxpeers=50 --datadir /opt/goethereum/data --datadir.ancient /opt/geth-ancient/ancient --http --http.addr 0.0.0.0 --http.port 8545 --http.api eth,net,personal,web3 --ws --ws.addr 0.0.0.0 --ws.port 8546 --ws.api eth,net,personal,web3
ExecStart=/opt/goethereum/bin/geth --cache=512 --maxpeers=50 --datadir /opt/goethereum/data --datadir.ancient /opt/geth-ancient/ancient --http --http.port 8545 --http.api eth,net,personal,web3 --ws --ws.port 8546 --ws.api eth,net,personal,web3
InaccessibleDirectories=/home /var /etc /usr /root
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
