[Unit]
Description=openethereum client for Gnosis Beacon Chain Validator
After=network.target 
Wants=network.target

[Service]
User=openethereum 
Group=openethereum
Type=simple
Restart=always
RestartSec=5
LimitNOFILE=5120
LimitNPROC=5120
ExecStart=/opt/openethereum/bin/openethereum -d /opt/openethereum/data --chain xdai --no-warp
InaccessibleDirectories=/home /var /etc /usr /root
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=default.target
