[Unit]
Description=Prysm Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=120
User=validator
LimitNOFILE=10000
LimitNPROC=10000
ExecStart=/opt/prysm-val/bin/validator --datadir=/opt/prysm-val/data --wallet-dir=/opt/prysm-val/.wllt --wallet-password-file=/opt/prysm-val/.wpwd --graffiti "Mom's Old-Fashioned Robot Oil" --suggested-fee-recipient=0x452D545Ea9Fcf6564370Ae418bcE49404994Bd3f --accept-terms-of-use
InaccessibleDirectories=/home /var
ReadOnlyDirectories=/etc /usr
DevicePolicy=closed
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictNamespaces=yes
RestrictRealtime=yes
#MemoryDenyWriteExecute=yes
LockPersonality=yes
#Drop all capabilites!!
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
