[Unit]
Description=Ethereum go client
After=network.target
Wants=network.target

[Service]
User=geth
Group=geth
Type=simple
Restart=on-failure
RestartSec=3
LimitNOFILE=12000
LimitNPROC=12000
ExecStart=/opt/staking/clients/goethereum/bin/geth --mainnet --maxpeers 50 \
  --datadir /opt/staking/datadir/geth --datadir.ancient /opt/staking/datadir/geth-ancient \
  --http --pprof --state.scheme=path \
  --authrpc.addr 127.0.0.1 --authrpc.port 8551 --authrpc.jwtsecret=/opt/staking/secret/jwtsecret \
  --metrics --metrics.addr 127.0.0.1 --metrics.port 55000
InaccessibleDirectories=/home /root
ReadOnlyDirectories=/etc /usr /var
DevicePolicy=closed
PrivateTmp=yes
NoNewPrivileges=yes
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=full
ProtectProc=invisible
RestrictSUIDSGID=true
RestrictNamespaces=yes
RestrictRealtime=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
#Drop all capabilites!!
CapabilityBoundingSet=

[Install]
WantedBy=default.target
